/* Fonts */
@font-face {
    font-family: 'Archivo';
    src: url(fonts/Archivo-VariableFont_wdth,wght.ttf) format('truetype');
}

/* Animations */
@keyframes slideInRight{
    from{
        transfrom: translateX();
    }

    to{
        transform: translateX(0px);
    }
}

/* Styles */
.front {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(239, 34, 83,0.5);
}

.front .text{
    position: relative;
    width: 600px;
    height: auto;
    margin:0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.front #header{
    text-align: center;
    margin:0;
}

.front .name{
    font-family: 'Archivo', sans-serif;
    font-size: 4.5vw;
    font-variation-settings:"wght" 1000, "wdth" 100;
    color: rgb(255,222,90);
}

.front .desc{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
    color: whitesmoke;
}

.front .banner{
    position: relative;
    width: 550px;
	height: 650px;
	transform: skew(-20deg);
	background: rgb(239, 34, 83);
}