.title{
    position: absolute;
    font-family: monospace, 'Courier New';
    font-size: 80px;
    text-align: center;
    top: 28%;
    right: 25%;
    left: 25%;
    color: rgb(255,222,90);
}

.myDesc{
    position: absolute;
    font-family: Monospace, 'Courier New', Courier, sans-serif;
    font-size: 30px;
    text-align: center;
    top: 47%;
    right: 25%;
    left: 25%;
}