#front {
    width: 98vw;
    height: 98vh;
}

#front .text{
    position: relative;
    width: 600px;
    height: auto;
    margin:0 auto;
    top: 50%;
    transform: translateY(-50%);
}

#front #header{
    text-align: center;
    margin:0;
}

#front .name{
    font-family:'Courier New';
    font-size: 4.5vw;
    color: rgb(255,222,90);
}

#front .desc{
    font-family:Monospace, 'Courier New';
    font-size: 2vw;
    color: whitesmoke;
}